---
import { SITE_TITLE } from "../../consts";
const redirectTo = "/writing/1";
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectTo}`} />
    <title>Redirecting | {SITE_TITLE}</title>
  </head>
  <body>
    <p>
      Redirecting to <a href={redirectTo}>{redirectTo}</a>...
    </p>
  </body>
</html>
